.gridTable thead tr th {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #2a3546;
}

.gridTable tbody tr td {
  font-size: 16px;
  font-weight: 400;
  background: #fff;
}

.gridTable tbody tr:hover td {
  background: #f1f1f1;
}
